<div class="row">
    <div class="col">
        <h6>微信公众号</h6>
        <address>
            <div class="col-8 text-center">
                <img src="<%- url_for(theme.sidebar_contact_img) %>" alt="qrcode" class="img-thumbnail">
            </div>
            <strong><%- theme.sidebar_contact_name %></strong><br>
            <%- theme.sidebar_contact_address %>
        </address>
    </div>
</div>
